body {
    font-family: 'Poppins';
    background-color: rgb(244, 242, 243)
}

#Navbar {
    background-color: rgb(244, 242, 243);
    margin-right: 15px;
    color: black;
}

nav {
    text-align: center;
}

#Navbar ul {
    list-style-type: none;
}

#Navbar ul li {
    display: inline;
}

#Navbar ul li a {
    text-decoration: none;
    margin-right: 30px;
    color: black;
    font-size: 15px;
}

#Logo {
    font-family: 'Poppins';
    padding-right: 350px;
    font-weight: bolder;
    font-size: 50px;
}

#Navbar p {
    padding-left: 45px;
    color: white;
    text-decoration: line-through black;
}

#Navbar ul li a:hover {
    text-decoration: underline;
}

#About h1 {
    font-size: 40px;
    margin-left: 10px;

}

#About h6 {
    font-size: 20px;
    margin: 30px;
    font-weight: lighter;
}

#S {
    background-image: url(Science\ Background.png);
}

#Science h1 {
    font-size: 40px;
    color: white;
    margin: 5px;
    margin-left: 10px;
}

#Science h6 {
    font-size: 20px;
    font-weight: lighter;
    color: white;
    margin: 30px;
}

#Explore ul li a {
    color: white;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    margin-right: 95px;
    text-align: center;
}

#Explore ul li a:hover {
    color: cyan;
}

#Science h1 {
    font-size: 50px;
    color: white;
}


#Science h6 {
    margin: 10px;
    color: white;
}

#Science {
    background-image: url(Science\ Background.png);
}

#Science h1 {
    font-size: 40px;
    color: white;
    margin: 5px;
    margin-left: 10px;
}

#Science h6 {
    font-size: 20px;
    font-weight: lighter;
    color: white;
    margin: 30px;
}

#Explore ul li a {
    color: white;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    margin-right: 95px;
    text-align: center;
}

#Explore ul li a:hover {
    color: cyan;
}

#Science h1 {
    font-size: 50px;
    color: white;
}


#Science h6 {
    margin: 10px;
    color: white;
}

#Science {
    background-image: url(Science\ Background.png);
}

#Georaphy h1 {
    font-size: 40px;
    color: white;
    margin: 5px;
    margin-left: 10px;
}

#Georaphy h6 {
    font-size: 20px;
    font-weight: lighter;
    color: white;
    margin: 30px;
}

#Georaphy ul li a {
    color: white;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    margin-right: 95px;
    text-align: center;
}

#Georaphy ul li a:hover {
    color: cyan;
}

#Georaphy h1 {
    font-size: 50px;
    color: white;
}


#Georaphy h6 {
    margin: 10px;
    color: white;
}

#Georaphy {
    background-image: url(Georaphy\ Background.avif);
}

#Coding h1 {
    font-size: 40px;
    color: white;
    margin: 5px;
    margin-left: 10px;
}

#Coding h6 {
    font-size: 20px;
    font-weight: lighter;
    color: white;
    margin: 30px;
}

#Coding ul li a {
    color: white;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    margin-right: 95px;
    text-align: center;
}

#Coding ul li a:hover {
    color: cyan;
}

#Coding h1 {
    font-size: 50px;
    color: white;
}


#Coding h6 {
    margin: 10px;
    color: white;
}

#Coding {
    background-image: url(Coding\ Background.jpg);
}

button img {
    width: 50px;
    height: 50px;
}

button {
    position: fixed;
    right: 5%;
    bottom: 5%;
    left: 95%;
    padding: 0.5px;
    margin-right: 2px;
}

.slide-holder {
    width: 800px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;

    text-align: center;
    border-radius: 10px;

}

.image-holder {
    width: 2400px;
    height: 400px;
    clear: both;
    position: relative;
    transition: left 1.5s;
}

.slider-image {
    width: 800px;
    height: 400px;
    float: left;
    margin: 0px;
    padding: 0;
    position: relative;

}

.button-holder {
    position: relative;
    top: -20;
}

.slider-change {
    height: 10px;
    width: 10px;
    display: inline-block;

    background-color: white;
    border-radius: 5px;

    margin-bottom: 5px;

}

.slider-change:hover {
    background: lightblue;
}

#span-1:target~.image-holder {
    left: 0px;
}

#span-1:target:active {
    background-color: red;
}

#span-2:target~.image-holder {
    left: -800px;

}

#span-2:target:active {
    background-color: red;
}

#span-3:target~.image-holder {
    left: -1600px;
}

#span-3:target:active {
    background-color: red;
}